@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ________________DOESNT MATTER_________________*/

.whosturn {
  font-family: "Roboto", sans-serif;
  color: #cfcfcf;
  font-size: 30px;
  width: auto;
  height: auto;
}

.youropponent {
  font-family: "Roboto", sans-serif;
  color: #cfcfcf;
  font-size: 20px;
  width: auto;
  height: auto;
}

.textChatArea {
  height: 25vh;
  width: auto;
  background-color: white;
}

/* ________________DOESNT MATTER_________________*/

.board {
  height: 600px;
  width: 600px;
  z-index: 1;
  margin: auto;
  grid-column: 3;
  grid-row: 2;
}
.rightPaper {
  height: 55vh;
  background-color: #222222;
  border-radius: 25px;
  padding: 30px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  grid-column: 5;
}


.button {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: calc(600px / 7);
  height: calc(60vh);
  max-width: calc(555px / 7);
  max-height: calc(60vh);
  display: flex;
  z-index: 2;
  margin-top: -200px;
  position: static;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 555px;
  height: 560px;
  margin-left: auto;
  margin-top: px;
  margin-right: auto;
  transition: 0.5s;
}

.mainGrid {
  display: grid;
  grid-template-columns: 30vw 5vw 600px 5vw 30vw;
  width: calc(30vw + 5vw + 600px + 5vw + 30vw);
  height: 100%;
  margin: 0 auto;
  justify-items: center;
}

.gridPos {
  grid-column: 3;
  grid-row: 2;
  height: 600px;
  margin-top: -640px;
  width: 600px;
}

.imgWrapper {
  grid-row: 2;
  width: 600px;
  height: 80vh;
  text-align: center;
  max-width: 600px;
  max-height: 80vh;
}

.boardSeperateGrid {
  display: grid;
  grid-column: 3;
  grid-template-rows: 100px 600px;
  width: 100%;
  height: 100%;
}

.middleWrapper {
  grid-column: 3;
  margin: auto;
  width: auto;
  height: auto;
}

.piece{
  z-index: 0;
  transform: translateZ(0);
}

.pieceDown1{
  animation: pieceDown1 0.4s linear 0.5s 1 normal forwards;
  z-index: -1;
}

@keyframes pieceDown1 { 
  0% {transform: translateY(0)}
  50% {transform: translateY(480px);}
  60% {transform: translateY(430px);}
  80% {transform: translateY(480px);}
  90% {transform: translateY(460px);}
  100% {transform: translateY(480px);}
} 


.pieceDown2{
  
}
.pieceDown3{
  
}
.pieceDown4{
  
}
.pieceDown5{
  
}
.pieceDown6{
  
}